body{
	padding:0;
	margin:0;
}

.cabecalho{
	height:150px;
	background-color:black;
	align-items:center;
	display:flex;
	justify-content: center;
}

.logo{
	width:220px;
}

.corpo{
	display:flex;
	justify-content: center;
	background-color:#A9A9A9;
}

.titulo{
	max-width: 300px;
	max-height:200px;
	background-color:#363636;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	color:white;
}

.tentativas{
	max-width: 300px;
	max-height:200px;
	background-color:#363636;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	color:white;
}


.txttentativas{
	color:red;
}

.pontos{
	max-width: 300px;
	max-height:200px;
	background-color:#363636;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	color:white;
}

.txtPontos{
	color:red;
}

.corpo2{
	display:flex;
	justify-content: center;
	background-color:#A9A9A9;
}

.txtanteriores{
	max-width: 365px;
    max-height: 200px;
    background-color: #363636;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    color: white;
    width: 400px;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.corpo3{
	display:flex;
	justify-content: center;
	background-color:#A9A9A9;
}

.acerto{
	max-width: 365px;
	max-height:1100px;
	background-color:#363636;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	color:white;
	width:400px;
	height:200px;
	justify-content: center;
	align-items:center;
	display:flex;
}

.corpo4{
	display:flex;
	justify-content: center;
	background-color:#A9A9A9;
}

.txtAcerto{
	max-width: 365px;
	max-height:200px;
	background-color:#363636;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	color:white;
	width:400px;
	justify-content: center;
	align-items:center;
	display:flex;
}

.numeroAleatorio{
	color:red;
}

.corpo5{
	display:flex;
	justify-content: center;
	background-color:#A9A9A9;
	
}

.corpo6{
	display:flex;
	justify-content: center;
	background-color:#A9A9A9;
}

.verifica{
	background-color:#778899;
	border-radius: 15px;
	color:white;
	border:0px;
	width: 285px;
	height: 40px;
	max-width: 385px;
	max-height:200px;
	display: inline-block;
	border: none;
	cursor: pointer;
 	position: relative;
}

.verifica::after {
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 15px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }

  .verifica:hover::after {
	opacity: 1;
  }
  
  .verifica:active {
	transform: translateY(2px);
  }
  
  .verifica:active::after {
	opacity: 0;
  }

.txtinput{
	max-width: 365px;
	max-height:200px;
	background-color:#363636;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	color:white;
	width:400px;
	justify-content: center;
	align-items:center;
	display:flex;
}

input{
	background-color:#363636;
	border-color:#363636;
	border:0px;
	width: 400px;
	color:white;
}

.rodape{
	height:150px;
	background-color:black;
	align-items:center;
	display:flex;
	justify-content: center;
}

.txtrodape{
	color:white;
}